@model Silas.ViewModels.HeaderViewModel

<!-- ESTRUCTURA PARA HEADER: IZQ (LOGO+BOTONES) / DCH (PERFIL) -->
<div id="generic_header">

    <div class="header-left">
        <!-- LOGO -->
        <div id="logo_container">
            <img src="~/images/logoSalesianos.jpg" alt="Logo Salesianos" />
        </div>

         <!-- BOTONES DE NAVEGACIÓN -->
        <div class="header-nav">
            @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Inicio", Model.userId))

            @if (Model.userRole == "admin")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Ver Empresas", Model.userId))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Alumnos", Model.userId))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Inscribir empresa", Model.userId))

            }
            else if (Model.userRole == "company")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Mis ofertas", Model.userId))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Soporte Empresa", Model.userId))
            }
            else
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Ofertas", Model.userId))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Mis apliques", Model.userId))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("Soporte", Model.userId))

            }
        </div> 
    </div>
    <!-- EL PERFIL -->
    <div class="header-profile" style="z-index:999">
        @Html.Partial("HeaderButtons/_BtnProfile", Model)
    </div>
</div>
