@model List<Silas.Models.Offers.Offer>
<a class="menu_item btn btn-info" data-title="NewOfferForm" data-id="@Model[0].id_company" >
   AÑADIR NUEVA OFERTA

</a>



<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Acciones</th> <!-- Column for the link -->
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].id</td>
                <td>@Model[i].title</td>
                <td>@Model[i].date.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="#" class="menu_item" data-title="OfertaFullDetalle" data-id="@Model[i].id">
                        Ver detalles
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>




