@model Silas.Models.Student.Student
@{
}
<h2>Detalles del Alumno</h2>
<div>
    <p><strong>Nombre:</strong> @Model.Name</p>
    <p><strong>Apellido:</strong> @Model.Surname</p>
    <p><strong>NIE:</strong> @Model.Nie</p>
    <p><strong>Teléfono:</strong> @Model.Phone</p>
    <p><strong>Dirección:</strong> @Model.Address</p>
    <!-- Agrega otros campos según sea necesario -->
</div>