@model Silas.ViewModels.LeftPanelViewModel

<div class="left-panel-container">
    @if (Model.userRole == "admin")
    {
        <h4>Últimas 10 ofertas publicadas</h4>
        <ul class="left-panel-list">
            @foreach (var item in Model.datalist)
            {
                <li>
                    <a href="#" class="menu_item" data-title="OfertaDetalle" data-id="@item.id">
                        <p>@item.title - @item.date.ToString("dd/MM/yyyy")</p>
                    </a>
                </li>
            }
        </ul>
    }
    else if (Model.userRole == "student")
    {
        <h4>5 últimas nuevas ofertas que han aparecido</h4>
        <ul class="left-panel-list">
            @foreach (var item in Model.datalist)
            {
                <li>
                    <a href="#" class="menu_item" data-title="OfertaDetalle" data-id="@item.id">
                        <p>@item.title - @item.date.ToString("dd/MM/yyyy")</p>
                    </a>
                </li>
            }
        </ul>
    }
    else if (Model.userRole == "company")
    {
        <h4>Todas mis ofertas activas</h4>
        <ul class="left-panel-list">
            @foreach (var offer in Model.datalist)
            {
                <li>
                    <a href="#" class="menu_item" data-title="OfertaDetalle" data-id="@offer.id">
                        <p><b>@offer.title</b></p>
                        <p>@offer.date.ToString("dd/MM/yyyy")</p>
                    </a>
                </li>
            }
        </ul>
    }
</div>
