@model (string role, string userName)

<!-- ESTRUCTURA PARA HEADER: IZQ (LOGO+BOTONES) / DCH (PERFIL) -->
<div id="generic_header">

    <div class="header-left">
        <!-- LOGO -->
        <div id="logo_container">
            <img src="~/images/logoSalesianos.jpg" alt="Logo Salesianos" />
        </div>

        <!-- BOTONES DE NAVEGACIÓN -->
        <div class="header-nav">
            @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Inicio")

            @if (Model.role == "admin")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Ver Empresas")
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Alumnos")
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Inscribir empresa")
                
            }
            else if (Model.role == "company")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Mis ofertas")
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Soporte")
            }
            else
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Ofertas")
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Mis apliques")
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", "Soporte")

            }
        </div>
    </div>
    <!-- EL PERFIL -->
    <div class="header-profile">
        @Html.Partial("HeaderButtons/_BtnProfile", Model)
    </div>
</div>
