@model (string role, string userName, int id)

<!-- ESTRUCTURA PARA HEADER: IZQ (LOGO+BOTONES) / DCH (PERFIL) -->
<div id="generic_header">

    <div class="header-left">
        <!-- LOGO -->
        <div id="logo_container">
            <img src="~/images/logoSalesianos.jpg" alt="Logo Salesianos" />
        </div>

        <!-- BOTONES DE NAVEGACIÓN -->
        <div class="header-nav">
            @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Inicio", Model.id))

            @if (Model.role == "admin")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Ver Empresas", Model.id))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Alumnos", Model.id))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Inscribir empresa", Model.id))
                
            }
            else if (Model.role == "company")
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Mis ofertas", Model.id))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Soporte", Model.id))
            }
            else
            {
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Ofertas", Model.id))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Mis apliques", Model.id))
                @Html.Partial("HeaderButtons/_HeaderButtonPartial", ("", "Soporte", Model.id))

            }
        </div>
    </div>
    <!-- EL PERFIL -->
    <div class="header-profile">
        @Html.Partial("HeaderButtons/_BtnProfile", Model)
    </div>
</div>
