@model Silas.Models.Student.Student

<h2>Detalles del Alumno</h2>
<div>
    <p><strong>Nombre:</strong> @Model.name</p>
    <p><strong>Apellido:</strong> @Model.surname</p>
    <p><strong>NIE:</strong> @Model.nie</p>
    <p><strong>Teléfono:</strong> @Model.phone</p>
    <p><strong>Dirección:</strong> @Model.address</p>
    <!-- Agrega otros campos según sea necesario -->
</div>
