@model Silas.ViewModels.HeaderViewModel

<!-- BOTON PERFIL CON DROPDOWN -->
<div class="header-button profile-container">

    <!-- FOTO -->
    <img class="profile-pic" src="/images/avatar.jpg" alt="Foto perfil" />

    <!-- NOMBRE DEL USUARIO LOGADO -->
    <div class="profile-name">@Model.userName</div>

    <!-- MENÚ -->
    <div class="profile-dropdown" style="z-index:999">
        <ul>
            @if (Model.userRole.ToLower() == "student")
            {
                <li>
                    <a class="menu_item" data-title="PerfilEstudiante" data-id="@Model.userId">
                        Perfil (@Model.userRole)
                    </a>
                </li>
            }
            else if (Model.userRole.ToLower() == "company")
            {
                <li>
                    <a class="menu_item" data-title="PerfilCompany" data-id="@Model.userId">
                        Perfil (@Model.userRole)
                    </a>
                </li>
            }
            <li>Configuración</li>
            <li><a href="/Account/Logout">Logout</a></li>
        </ul>
    </div>
</div>
