
<h2>Bienvenido, @ViewBag.UserName</h2>
<p>Aquí va el contenido ppal de la vista genérica turbosocio (main xd).</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>
<p>Rol: @ViewBag.UserRole</p>

